langchain>=0.1.20,<0.2
langchain-community>=0.0.38,<0.1
langchain-text-splitters
langchain-groq>=0.1.5
PyPDF2==3.0.1
faiss-cpu==1.7.4
pypdf==4.2.0
chromadb==0.4.24
tiktoken==0.7.0
streamlit==1.33.0
streamlit-extras==0.4.2
InstructorEmbedding==1.0.1
sentence-transformers==2.5.1
huggingface-hub==0.22.2
python-dotenv==1.0.1